body {
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
}
main{
    display: grid;
    grid-template-columns: repeat(3,30vw);
justify-content: center;
align-content: center;
grid-gap: 10px;


}

.all{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  
  
}
.titleall{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.contentall{
    display: flex;
    justify-content: center;
    align-content: center;
}
.colorall{
    display: flex;
    justify-content: center;
    align-content: center;
}
.buttonsall{
    display: flex;
    justify-content: center;
    align-content: center;
    
}


button {
    background-color: #efefef;
    border: 1px solid #bbbbbb;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    box-shadow: 2px 2px 3px #cccccc;
    text-decoration: none;
    color: #3d3d3d;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    outline: none;
    padding: 3px 10px;
    margin: 5px;
    margin-bottom: 10px;
}

section {
    display: flex;
    justify-content: center;
align-items: center;
    margin: 5px;
    font-size: 12px;
    flex-direction:column;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    

}
section:hover{
    border: 1px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 6px 6px 12px black;
    -webkit-box-shadow: 6px 6px 12px black;
    box-shadow: 6px 6px 12px black;
    transition: 1s;
}
p {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h4{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}