body {
    margin: 0;
    padding: 0;
    background-image: url(img/drums-2599508_1920.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  
}
.sound{
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: repeat(3,200px);
justify-content: center;
align-content: center;
grid-gap: 100px;
}
.namesound {
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    color: white;
    
}
.h1{
    margin-top: 10px;
    
}

.soundletter{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 2px;
    margin-right: 2px;
    text-transform: uppercase;
    text-align: center;
    color: white;
        

    
        


}
.soundletteronclick{
color: yellow;
}
.button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
}
.buttonplay{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    
}
button {
margin-left: 5px;
margin-right: 5px;
    
background-color:  white; 
        
color: black;
padding: 4px 12px;
text-align: center;
text-decoration: none;
font-size: 10px;
font-family: 'Courier New', Courier, monospace;
border-radius: 10px;
      
    
}
.h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-content: center;

}