body {
    background-color: white;
}

.lightbox{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.lighbox img{
    max-width: 80%;
    max-height: 80%;
}