#kula {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background:green;
    position: absolute;
    top: 20px;
    left: 20px;
  }
#dziura {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -2;
    position: absolute;
    
    background-color: red;
}
